.card {
    @include box($padding: 20px);
    box-shadow: $box-shadow-sm;
    border-radius: $radius-md;
    text-align: center;
  
    h3 {
      margin-bottom: $space-sm;
    }
  
    p {
      font-weight: 300;
      text-align: justify;
    }
  }
   